body {
	background: rgb(17,85,160) url('../images/_s_header-bg-gradient.png') repeat-x scroll left top;
	color: #434343;
	font-family: Times, serif;
	margin: 0;
}
img {
	border: none;
}
a {
	color: inherit;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

/* Overall container */
div.fixedWidthContent {
	margin: 0 auto;
	width: 942px;
}

/* Header */
div.header {
	color: white;
	margin: 23px auto 0 auto;
	position: relative;
}
div.header h1 {
	float: left;
	margin: 0 0 0 35px;
}
div.header h1 img {
	display: block;
}
div.header span.login {
	float: right;
	font-size: 18px;
	margin-top: 17px;
}
div.header a {
	color: inherit;
	letter-spacing: 1px;
	text-decoration: underline;
}
div.header em {
	color: #9CD5F2;
	font-size: 24px;
	font-style: normal;
}

div.roundedCornersTop {
	background: url('../images/body-bg-roundedCorners.png') no-repeat scroll center top transparent;
	height: 48px;	
	left: -2px;
	position: absolute;
	top: 0;
	width: 944px;
	z-index: 1;
}

div.pageLayout {
	background: #FEFEFF url('../images/body-bg-gradient.png') repeat-x scroll center bottom;
	border-left: 1px solid #BFD4E7;
	border-right: 1px solid #BFD4E7;
	position: relative;
}
div.mainContent {
	min-height: 942px;
	padding-top: 48px;
	position: relative;
	z-index: 1;
}
div.mainContent p.afgPurpose {
	font-size: 20px;
	letter-spacing: 0.5px;
	margin: 0;
	text-align: center;
}
div.mainContent p em {
	font-size: 28px;
	font-style: normal;
	letter-spacing: 1px;
}

/* columns setup */
div.leftColumn {
	float: left;
	margin: 30px 20px 0 35px;
	width: 410px;
}
div.rightColumn {
	float: right;
	margin: 30px 35px 0 0;
	width: 430px;
}
div.clearColumns {
	clear: both;
	font-size: 0;
	line-height: 0;
}
div.columnContainerSearch div.leftColumn {
	margin: 0 0 0 13px;
	width: 280px;
}
div.columnContainerSearch div.rightColumn {
	margin: 0 35px 0 0;
	width: 600px;
}

/* search box */
div.searchBox {
	background: url('../images/body-fg-searchBox.png') no-repeat scroll left top;
	height: 199px;
}
div.searchBox form {
	padding: 18px 0 0 25px;
}
div.searchBox form #q, #find {
	border: none;
	background: none no-repeat scroll 0 0 transparent;
}
div.searchBox form #q {
	font-size: 18pt;
	margin: 12px -1px 0 0px;
	padding: 2px 4px 4px 5px;
	width: 258px;
}
div.searchBox form #q.faded {
	color: #5ac2e7;
}
div.searchBox form #find {
	background: url('../images/searchBox-fg-submit.png') no-repeat scroll left top;
	height: 60px;
	margin: 0;
	padding: 0;
	vertical-align: top;
	width: 60px;
}

/* post/share/develop buttons */
div.buttons {
	margin: 30px 0 0 4px;
}
div.buttons a {
	clear: both;
	color: inherit;
	display: inline-block;
	margin: 10px 0;
	text-decoration: none;
}
div.buttons a img, div.buttons a div {
	display: inline-block;
	vertical-align: middle;
}
div.buttons a p {
	line-height: 1;
	margin: 3px 2px;
	text-align: left;
}
div.buttons a p em {
	font-size: 22px;
}
div.button{
	float: left;
	text-align: center;
	width: 90px;
}
div.share, div.develop{
	clear: left;
}
div.button span{
	font-size: 22px;
}
div.text{
	float: left;
	padding-top: 25px;
}

/* footer */
div.footer {
	background: url('../images/footer-bg-gradient.png') no-repeat scroll center bottom;
	bottom: 0;
	height: 134px;
	left: 3.5%;
	margin: 0;
	position: absolute;
	width: 99.2%;
}
div.footer div.columnContainer {
	height: 100%;
}
div.footer div.column {
	background: url('../images/footer-fg-columnBorder.png') no-repeat scroll right bottom;
	float: left;
	height: 100%;
	text-align: center;
	width: 33.5%;
}
div.footer div.last {
	background-image: none;
	width: 31.2%;
}
div.footer h2 {
	color: #333;
	font-size: 23px;
	font-weight: normal;
	margin: 10px 0 6px 0;
	text-align: center;
}
div.footer ul {
	color: #1053A1;
	display: inline-block;
	font-size: 19px;
	list-style: none;
	margin: 0 auto;
	padding: 0;
}
div.footer a {
	color: inherit;
	text-decoration: none;
}
div.footer a:hover {
	text-decoration: underline;
}
div.footer li {
	text-align: left;
	margin: 0 0 1px 0;
}
div.footer div.last li {
	text-align: center;
}

/* partners column */
div.footer p { /* delete when you get partner logos */
	margin: 0;
	text-align: inherit;
}
div.footer div.column div.columnContainer {
	height: auto;
	margin-bottom: 2.1%;
}
div.footer div.column div.leftColumn {
	margin: 0 2.1% 0 0;
	text-align: right;
	width: 47.8%;
}
div.footer div.column div.rightColumn {
	float: left;
	margin: 0;
	text-align: left;
	width: 47.8%;
}

/* search results page */
div.searchBoxSmall {
	background: url("../images/searchBox-bg-small.png") no-repeat scroll 0 0 transparent;
	height: 108px;
	margin: -33px 0 20px 295px;
}
div.searchBoxSmall div.inputBg {
	background: url("../images/searchBox-fg-input.png") no-repeat scroll 0 0 transparent;
	display: inline-block;
	margin: 10px -1px 0 0;
	width: 273px;
}
div.searchBoxSmall form {
	padding: 23px 0 0 21px;
}
div.searchBoxSmall form #q, #find {
	border: none;
	background: none no-repeat scroll 0 0 transparent;
}
div.searchBoxSmall form #q {
	font-size: 18pt;
	margin: 1px 0 4px 4px;
	padding: 3px 5px 4px 6px;
	width: 258px;
}
div.searchBoxSmall form #q.faded {
	color: #5ac2e7;
}
div.searchBoxSmall form #find {
	background: url('../images/searchBox-fg-submit.png') no-repeat scroll left top;
	height: 60px;
	margin: 0;
	padding: 0;
	vertical-align: top;
	width: 60px;
}
/* search Results */
.searchResult {
	font-family: Arial, sans-serif;
	margin-bottom: 18px;
}
.searchResult * {
	line-height: 1;
}
.searchResult .resultLabel {
	color: #6a6a6a;
	display: inline-block;
	font-family: Arial, sans-serif;
	font-weight: bold;
	padding: 0 5px 5px 0;
	vertical-align: top;
}
.searchResult .resultInfo {
	border-bottom: solid 1px #999;
	display: inline-block;
	padding: 0 0 12px 0;
	width: 570px;
}
.last .resultInfo {
	border-bottom: none;
}
.resultInfo h3, .resultInfo p {
	margin: 0;
}
.resultInfo h3 {
	color: #1093ce;
	font-weight: normal;
	margin-bottom: 2px;
}
.resultInfo p {
	font-size: 13px;
	line-height: 15px;
	margin-bottom: 2px;
}
.resultInfo p.whereWhen, .resultInfo p.who {
	color: #777;
}
.resultInfo p.what {
	color: #1a1a1a;
}
.resultInfo .via {
	color: #434343;
	font-style: italic;
}
.resultInfo .category {
	color: #434343;
}
